:root{

  //azul do logo
  --color-logo--blue-50: #effbfc;
  --color-logo--blue-100: #d7f2f6;
  --color-logo--blue-200: #b4e5ed;
  --color-logo--blue-300: #80d2e0;
  --color-logo--blue-400: #42b4ca; //esse
  --color-logo--blue-500: #2999b1;
  --color-logo--blue-600: #257c95;
  --color-logo--blue-700: #24647a;
  --color-logo--blue-800: #265364;
  --color-logo--blue-900: #234756;
  --color-logo--blue-950: #122e3a;


// verde do logo
'fuego': {
'50': '#fbfde8',
'100': '#f3facd',
'200': '#e7f4a2',
'300': '#d3eb6b',
'400': '#bfde42', // borda do logo
'500': '#9fc31f', // cor do alive
'600': '#7c9c14',
'700': '#5e7714',
'800': '#4c5e16',
'900': '#405017',
'950': '#212c07',
},

// contorno da font
'firefly': {
'50': '#f0fbfb',
'100': '#d9f3f4',
'200': '#b8e8e9',
'300': '#87d5d9',
'400': '#4fbbc1',
'500': '#349fa6',
'600': '#2e818c',
'700': '#2b6a73',
'800': '#2a5760',
'900': '#274952',
'950': '#193840', //
},

// cinza fudndo
'shark': {
  '50': '#f6f6f6',
  '100': '#e7e7e7',
  '200': '#d1d1d1',
  '300': '#b0b0b0',
  '400': '#888888',
  '500': '#6d6d6d',
  '600': '#5d5d5d',
  '700': '#4f4f4f',
  '800': '#454545',
  '900': '#3d3d3d', // borda
  '950': '#1f1f1f', // fundo
},

preto do fundo: 0a0a0a

// desativado
'star-dust': {
  '50': '#f7f7f7',
  '100': '#ededed',
  '200': '#dfdfdf',
  '300': '#c8c8c8',
  '400': '#a4a4a4', //
  '500': '#999999',
  '600': '#888888',
  '700': '#7b7b7b',
  '800': '#676767',
  '900': '#545454',
  '950': '#363636',
},


// vermelho - rosa
'razzmatazz': {
  '50': '#fff0f3',
  '100': '#ffe2e8',
  '200': '#ffcad8',
  '300': '#ff9eb8',
  '400': '#ff6893',
  '500': '#ff3371',
  '600': '#dd0f57', // cor do dead
  '700': '#c9074f',
  '800': '#a8094a',
  '900': '#900b45',
  '950': '#510022',
},


}
