:host{
  header{
    background: var(--header-background-color);
    border-bottom: solid 2px var(--default-border-color);
    padding: 1rem 0;

    .logo{
      max-width: 250px;
      width: 100%;
    }
  }
}
