<header>
  <div class="container-fluid">
    <div class="row w-100 justify-content-center">
      <div class="col-12 col-sm-8 col-md-6 col-lg-3">
        <img src="assets/img/rick-and-morty-logo.svg" class="logo">
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <app-theme-switcher />
      </div>

      <div class="col-12 col-lg-3 d-flex align-items-center justify-content-center justify-content-lg-end">
        <app-nav />
      </div>

    </div>
  </div>
</header>
