<div class="character-list-item-preview">

  @if(character.fav){
  <div class="fav-container" (click)="removeFavorite(character)">
    <fa-icon [icon]="['fas', 'heart']" class="active"></fa-icon>
  </div>
  }

  @else{
  <div class="fav-container" (click)="addFavorite(character)">
    <fa-icon [icon]="['far', 'heart']"></fa-icon>
  </div>
  }

  <fa-icon [icon]="['fas', 'heart']" class="heart heart-1" [@animationFavorite]="animateFavorite()"></fa-icon>
  <fa-icon [icon]="['fas', 'heart']" class="heart heart-2" [@animationFavorite]="animateFavorite()"></fa-icon>
  <fa-icon [icon]="['fas', 'heart']" class="heart heart-3" [@animationFavorite]="animateFavorite()"></fa-icon>

  <div class="image-container">
    <img [ngSrc]="character?.image" loading="lazy" fill>
  </div>

  <div class="info-container">
    <strong class="creepster-regular title" [title]="character.name">{{ character.name }}</strong>
    <fa-icon [icon]="['fas', 'dna']"></fa-icon> {{ character.species }}<br>

    <button (click)="openDialog(character)" class="button d-block mt-4 m-auto">Detalhes</button>
  </div>
</div>