<div class="character-list-item-preview">

  @if(character.fav){
  <div class="fav-container" (click)="removeFavorite(character)">
    <fa-icon [icon]="['fas', 'heart']" style="color: #bfde42;"></fa-icon>
  </div>
  }

  @else{
  <div class="fav-container" (click)="addFavorite(character)">
    <fa-icon [icon]="['far', 'heart']"></fa-icon>
  </div>
  }

  <div class="image-container">
    <img [ngSrc]="character?.image" loading="lazy" fill style="object-fit: contain; height: auto; position: static;">
  </div>

  <div class="info-container">
    <strong class="creepster-regular title" [title]="character.name">{{ character.name }}</strong>
    <fa-icon [icon]="['fas', 'dna']"></fa-icon> {{ character.species }}<br>

    <button (click)="openModal(character)">Detalhes</button>
  </div>
</div>