<div class="character-list-item-preview" (mouseenter)="cssHover = true" (mouseleave)="cssHover = false">

  <app-avatar [character]="character" [cssHover]="cssHover"></app-avatar>

  <div class="info-container">
    <strong class="creepster-regular title" [title]="character.name">{{ character.name }}</strong>
    <fa-icon [icon]="['fas', 'dna']"></fa-icon> {{ character.species }}<br>

    <button (click)="openDialog(character)" class="button d-block mt-4 m-auto">Detalhes</button>
  </div>
</div>
