:host{
  align-items: center;
  background: #010101;
  border-radius: 10px;
  border: solid 2px #3D3D3D;
  color: #FFF;
  display: flex;
  flex: auto;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  width: 100%;
}
