:host{
  align-items: center;
  background: var(--default-font-color-negative);
  border-radius: 10px;
  border: solid 2px var(--default-border-color);
  color: var(--default-font-color);
  display: flex;
  flex: auto;
  justify-content: center;
  min-height: 300px;
  text-align: center;
  width: 100%;
}
