@use '@angular/material' as mat;
@import 'bootstrap/scss/bootstrap';

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

body.dark-theme{
  --default-main-color: var(--color-logo--400);
  --default-font-color: var(--color-white);
  --default-font-color-negative: var(--color-grey-900);
  --default-border-color: var(--color-grey-600);
  --header-background-color: var(--color-black);

  --menu-nav-item-background-color: transparent;
  --menu-nav-item-color: var(--color-white);
  --menu-nav-item-active-background-color: var(--default-main-color);
  --menu-nav-item-active-color: var(--color-black);

  --button-background-color: var(--color-logo--400);
  --button-border-color: var(--color-logo--700);
  --button-color: var(--color-logo--700);
  --button-hover-background-color: var(--color-logo--700);
  --button-hover-border-color: var(--color-logo--700);
  --button-hover-color: var(--color-logo--400);
  --button-disabled-background-color: var(--color-grey-300);
  --button-disabled-border-color: var(--color-grey-500);
  --button-disabled-color: var(--color-grey-500);

  --character-list-item-preview-background-color: rgb(10, 10, 10, .8);

  --character-list-item-icon-status-alive-color: var(--color-logo--500);
  --character-list-item-icon-status-dead-color: var(--color-red-600);
  --character-list-item-icon-genre-male-color: #039df6;
  --character-list-item-icon-genre-female-color: #e749a3;

  background-attachment: scroll;
  background-color: #252525;
  background-image: url('../../../assets/img/theme-dark/bg-rick-morty-portal.jpg');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  min-height: 100vh;
  transition: all .2s;

  @include media-breakpoint-up(lg) {
    background-size: auto 300px;
  }

  .mat-mdc-dialog-surface.mdc-dialog__surface{
    backdrop-filter: blur(1px) !important;
    background-color: transparent !important;
    background-image: linear-gradient(120deg, rgba(20, 20, 20, .8), rgba(45, 45, 45, .8)) !important;
    box-shadow: 0 0 10px var(--default-border-color) !important;
    color: var(--default-font-color);
    padding: 20px;
  }
}
