:host{
    .nav-button{
      align-items: center;
      background: var(--menu-nav-item-background-color);
      border: solid 1px var(--default-border-color);
      color: var(--menu-nav-item-color);
      display: inline-flex;
      white-space: nowrap;

      .ng-fa-icon{
        margin-right: .5rem;
      }

      .badge{
        align-items: center;
        aspect-ratio: 1;
        background: #FFF;
        border-radius: 100%;
        border: solid 1px var(--default-border-color);
        color: #3D3D3D;
        display: inline-flex;
        font-weight: bold;
        justify-content: center;
        margin-left: 5px;
        width: 20px;

        &.empty{
          background: none;
          border: solid 1px #FFF;
          color: #FFF;
        }
      }

      &.active{
        background: var(--menu-nav-item-active-background-color);
        color: var(--menu-nav-item-active-color);

        .badge{
          background: #333;
          border: solid 1px #333;
          color: #FFF;

          &.empty{
            background: none;
            border: solid 1px #333;
            color: #333;
          }
        }
      }

      &:first-child{
        border-radius: 10px 0 0 10px;
        border-right: 0;
      }

      &:last-child{
        border-radius: 0 10px 10px 0;
      }
    }


}
