:host{

  h1{
    text-align: center;
    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  .image-container{
    img{
      display: block;
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      object-fit: contain;
      position: static;
    }
  }

  .episodes-container{
    @media (min-width: 1200px) {
      bottom: 0;
      left: 0;
      overflow: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .icon-calendar{color: var(--default-main-color)}
  .icon-dna{color: var(--default-main-color)}
  .icon-status{
    &.icon-gender-unknow{color: var(--default-border-color)}
    &.icon-status-alive{color: var(--character-list-item-icon-status-alive-color)}
    &.icon-status-dead{color: var(--character-list-item-icon-status-dead-color)}
  };
  .icon-gender{
    &.icon-gender-unknow{color: var(--default-border-color)}
    &.icon-gender-male{color: var(--character-list-item-icon-genre-male-color)}
    &.icon-gender-female{color: var(--character-list-item-icon-genre-female-color)}
  }
  .icon-location{
    color: var(--default-main-color)
  }
}

