<div class="row m-0">

  <div class="image-container col-12 col-md-3 col-lg-4 p-0">
    <img [src]="data.image" priority fill />
  </div>

  <div class="col-12 col-md-5 col-lg-4">
    <h1 class="smaller">{{data.name}}</h1>

    <label class="label">Criado em</label>
    <fa-icon [icon]="['fas', 'calendar-days']" class="icon-calendar"></fa-icon> {{data.created | date :
    'dd/MM/yyyy'}}<br>

    <label class="label">Espécie</label>
    <fa-icon [icon]="['fas', 'dna']" class="icon-dna"></fa-icon> {{ data.species }}<br>

    <label class="label">Status</label>
    <fa-icon [icon]="['fas', 'circle']"
      [class]="{'icon-status-alive' : data.status ==='Alive', 'icon-status-dead' : data.status ==='Dead'}"
      class="icon-status"></fa-icon> {{
    data.status }}<br>

    <label class="label">Gênero</label>
    @if(data.gender === 'Male'){
    <fa-icon [icon]="['fas', 'mars']" class="icon-gender icon-gender-male"></fa-icon> {{ data.gender }}<br>
    }
    @else if(data.gender === 'Female'){
    <fa-icon [icon]="['fas', 'venus']" class="icon-gender icon-gender-female"></fa-icon> {{ data.gender }}<br>
    }
    @else{
    <fa-icon [icon]="['fas', 'venus-mars']" class="icon-gender icon-gender-unknow"></fa-icon> {{ data.gender }}<br>
    }

    <label class="label">Última localização conhecida</label>
    <fa-icon [icon]="['fas', 'location-pin']" class="icon-location"></fa-icon> {{ data.location.name }}<br>
  </div>


  <div class="col-12 col-md-4 col-lg-4">
    <div class="w-100 h-100 position-relative">
      <div class="episodes-container custom-scrollbar">
        @if(episodeNumbers){
        <label class="label">Aparece nos episódios:</label>
        <ul>
          @for(eps of episodeNumbers; track eps){
          <li>{{ eps }}</li>
          }
        </ul>
        }
      </div>
    </div>
  </div>
</div>