:host{
  position: relative;

  .close-modal{
    background: transparent;
    border: none;
    color: var(--default-main-color);
    font-size: 2rem;
    position: absolute;
    right: -1rem;
    top: -1rem;
  }

  h1{
    text-align: center;
    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  .image-container{
    padding-left: 0;

    img{
      border-radius: 10px;
      display: block;
      height: auto;
      margin: 0 auto;
      object-fit: contain;
      position: static;
      width: 100%;
    }
  }

  .episodes-container{
    .ep-id{
      color: var(--default-border-color);
      font-size: 1.4rem;
      line-height: 1.2;
    }
    .ep-title{
      color: var(--default-main-color);
      font-size: 1.1rem;
    }

    .ep-air-date{
      font-size: .8rem;
    }

    .row{
      border-bottom: solid 1px var(--default-border-color);

      &:last-child{
        border-bottom: 0;
      }
    }

    @media (min-width: 1200px) {
      bottom: 0;
      left: 0;
      overflow: auto;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .icon-calendar{color: var(--default-main-color)}
  .icon-dna{color: var(--default-main-color)}
  .icon-status{
    &.icon-gender-unknow{color: var(--default-border-color)}
    &.icon-status-alive{color: var(--character-list-item-icon-status-alive-color)}
    &.icon-status-dead{color: var(--character-list-item-icon-status-dead-color)}
  };
  .icon-gender{
    &.icon-gender-unknow{color: var(--default-border-color)}
    &.icon-gender-male{color: var(--character-list-item-icon-genre-male-color)}
    &.icon-gender-female{color: var(--character-list-item-icon-genre-female-color)}
  }
  .icon-location{
    color: var(--default-main-color)
  }
}

