:host{
  display: flex;
  flex: auto;
  margin-bottom: 200px;

  .host-container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    .ng-fa-icon{
      color: var(--default-border-color);
      left: 10px;
      position: absolute;
      transition: all .2s;
      z-index: 1;
    }

    input{
      background: none;
      border: solid 2px var(--default-border-color);
      border-radius: 10px;
      color: var(--default-font-color);
      margin: .5rem 0 .2rem;
      padding: .5rem .5rem .5rem 30px;

      &:focus{
        & +  .ng-fa-icon{
          color: var(--default-font-color);
          transition: all .2s;
        }
      }
    }
  }

  .search-hint{
    color: var(--default-border-color);
    font-size: .8rem;
  }

  .pagesCount{
    color: var(--default-font-color);
    margin: 0;
  }

}

