<input type="text" [(ngModel)]="params.name" (keydown)="searchCharacters()" />

@if(characters$()){
<div class="row" style="display: flex; flex-wrap: wrap;">
  @for(character of characters$(); track character){
  <div class="col-12 col-sm-6 col-md-4 col-lg-2" style="width: 250px">
    <app-characters-list-item-preview [character]="character" />
  </div>
  }
  @empty {
  Lista vazia
  }
</div>
}

{{ pagesCount() }} / {{ pagesTotal() }}
<button (click)="previousPage()" [disabled]="pagesCount() == 1">Anterior</button>
<button (click)="nextPage()" [disabled]="pagesCount() == pagesTotal()">Próxima</button>
