<div class="host-container">
  <div class="container flex-auto d-flex flex-column">

    <div class="row mt-4 mb-4">
      <div class="col-12 col-md-4 col-lg-6 d-flex justify-content-start">
        <h1 class="creepster-regular">
          Início
        </h1>
      </div>

      <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center flex-column">
        <!-- <mat-form-field appearance="outline" class="w-100">
          <mat-label>Procure por nome</mat-label>
          <input matInput placeholder="Exemplo: Morty Smith" [(ngModel)]="params.name" (keyup)="searchCharacters()">
          <mat-icon matPrefix>badge</mat-icon>
          <mat-hint>Exemplo: "Morty Smith"</mat-hint>
        </mat-form-field> -->

        <div class="search-container">
          <!-- <input type="text" [(ngModel)]="paramName" (keypress)="onSearchChange(searchByName.value)" #searchByName
          placeholder="Procure por nome" class="w-100" /> -->
          <input type="text" [(ngModel)]="params.name" (keyup.enter)="searchCharacters()" placeholder="Procure por nome"
            class="w-100" />
          <fa-icon [icon]="['fas', 'id-card']"></fa-icon>
          <button class="button search-button" type="button" (click)="searchCharacters()">
            <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
          </button>
        </div>
        <span class="search-hint">Pressione Enter para pesquisar</span>


      </div>

      <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center flex-column">
        <!-- <mat-form-field appearance="outline" class="w-100">
          <mat-label>Procure por espécie</mat-label>
          <input matInput placeholder="Exemplo: Morty Smith" [(ngModel)]="params.species" (keyup)="searchCharacters()">
          <mat-icon matPrefix>genetics</mat-icon>
          <mat-hint>Exemplo: "Alien"</mat-hint>
        </mat-form-field> -->

        <div class="search-container">
          <input type="text" [(ngModel)]="params.species" (keyup.enter)="searchCharacters()"
            placeholder="Procure por espécie" class="w-100" />
          <fa-icon [icon]="['fas', 'dna']"></fa-icon>

          <button class="button search-button" type="button" (click)="searchCharacters()">
            <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
          </button>
        </div>
        <span class="search-hint">Pressione Enter para pesquisar</span>


      </div>

    </div>

    @if(errorNotFound()){
    <app-empty-list>
      <h2>Nada foi encontrado</h2>
      <p>Tente realizar uma nova busca</p>
    </app-empty-list>
    }

    @if(characters$() && !errorNotFound()){
    <div class="row g-4">
      @for(character of characters$(); track character){
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <app-characters-list-item-preview [character]="character" />
      </div>
      }
      @empty {
      Carregando...
      }
    </div>
    }
  </div>

  @if(characters$() && !errorNotFound()){
  <div class="container mt-5">
    <div class="row">
      @if(pagesTotal() > 1){
      <div class="col-3 d-flex justify-content-start">
        <button class="button" (click)="previousPage()" [disabled]="pagesCount() == 1">Anterior</button>
      </div>

      <div class="col-6 d-flex justify-content-center align-items-center">
        <p class="pagesCount">{{ pagesCount() }} / {{ pagesTotal() }}</p>
      </div>

      <div class="col-3 d-flex justify-content-end">
        <button class="button" (click)="nextPage()" [disabled]="pagesCount() == pagesTotal()">Próxima</button>
      </div>
      }
    </div>
  </div>
  }
</div>