<footer>
  <div class="container">

    <div class="row mt-4 mb-4 d-flex align-items-end">
      <div class="col-12 col-lg-3 d-flex justify-content-start flex-column">
        <p><img src="assets/img/mottu-logo.png" loading="lazy" class="mottu-logo"
            style="max-width: 150px; display: block;" /></p>
        <p class="m-0">Desafio Frontend.</p>
        <p class="m-0">Julho - 2024</p>
      </div>

      <div class="col-12 col-lg-6 d-flex justify-content-start align-items-end">
        <p class="m-0">Desenvolvido por Vinicius Colacino<br>
          Leia o README por favor.</p>
      </div>
    </div>
  </div>
</footer>